img { 
	position:absolute;
	top:0px;
	border:none;
}
h1 {
	text-align:center;
}
a{
	color:#fff;
}
.clear{
	clear:both;
}
#images{
	width:475px;
	height:200px;
	visibility:hidden;
}
#loading{
	margin-top:50px;
	text-align:center;
	width:100%;
}
#loading img{
	margin-top:10px;
	position:relative;
}
#captions{
	font-weight:bold;
	font-color:red;
	position:relative;
	text-align:center;
	z-index:10000;
}
#scrollbar{
	visibility:hidden;
	position:relative;
	border-bottom:1px solid #b3b3b3;
	z-index:10001;
}
#slider{
	position:absolute;
	margin-top:-7px;
	margin-left:-7px;
	z-index:10002;
	background-image:url(js/imageflow/slider.png);
	background-repeat:no-repeat;
	width:14px;
	height:14px;
}
#imageflow{
background-color:black;
	text-align:left;
	height:200px;
}
