/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
* skins/arkologik/stylesheets/ark_main_moz.css
*
* Mozilla stylesheet for arkologik skin
*
* PHP versions 4 and 5
*
* LICENSE:
*    ARK - The Archaeological Recording Kit.
*    An open-source framework for displaying and working with archaeological data
*    Copyright (C) 2022 Museum of London Archaeology.
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU General Public License for more details.
*    You should have received a copy of the GNU General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
* @category   css
* @package    ark
* @author     Henriette Roued <henriette@roued.com>
* @author     Guy Hunt <guy.hunt@lparchaeology.com>
* @author     Stuart Eve <stuarteve@lparchaeology.com>
* @copyright  1999-2011 L - P : Partnership Ltd.
* @copyright  2011-2022 L - P : Heritage LLP.
* @copyright  2022 Museum of London Archaeology
* @link       http://ark1.arklab.uk/
* @link       http://gitlab.com/arklab/ark1
* @since      File available since Release 0.6
*/

* {
    /*Basic global settings*/
    margin: 0;
    text-decoration: none;
}

html {
    background: #FFFFFF;
    min-height:100%;
    min-width:100%;
}

html, body {
    /*Basic page settings*/
    margin: 0;
    text-align: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #444444;
    padding: 0px;
}
a {
    color: #FF561D;
}
a:hover {
    color:#FF8156;
}
form {
    overflow: hidden;
}
img {
    /*Basic image settings*/
    margin: 0;
    border: none;
}
img.sml {
    margin: 0 6px 0 10px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    padding: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
img.sml:active {
    position:relative;
    top:1px;
}
img.smalldelete {
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    padding: 1px;
    margin: 1px 4px 1px 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width:10px;
    height:10px;
}
img.smalldelete:active {
    position:relative;
    top:1px;
}
img.med {
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    padding: 1px;
    margin: 2px 4px -3px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
img.med:hover {
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
img.med:active {
    position:relative;
    top:1px;
}
img.mult_files {
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    padding: 2px;
    margin:2px 4px 75px -25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position:relative;
    top:1px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.error {
    /*text styling for errors*/
    margin: 0;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #FF561D;
}
#message {
    /* The Message Div */
    margin: 0;
    font-size: 1.1em;
    color: #FF561D;
    padding: 10px;
}
.message {
    /* message styling */
    font-size: 1.1em;
    font-weight: bold;
    color: #FF561D;
    padding: 10px;
}
#message form {
    /* Forms occuring inside the message div */
    margin: 0;
    padding: 10px;
}

/* WRAPPER DIV */
#wrapper {
    margin: 0 auto;
    position: relative;
    background:#FFFFFF;
    overflow:hidden;
}
.wrp_normal {
    width: 1001px; /* attn ADMINS: Note that this must be at least as wide as the lpanel and the main */
}
.wrp_mcrview {
    width: 1001px; /* attn ADMINS: Note that this must be at least as wide as the lpanel and the main */
}
.wrp_results {
    width: 1001px; /* attn ADMINS: Note that this must be at least as wide as the lpanel and the main */
}
.wrp_map {
    width: 1001px; /* attn ADMINS: Note that this must be at least as wide as the lpanel and the main */
}
/* HEADER BLOCK */
#hdr {
    /*header settings*/
    margin: 0;
    padding: 0;
    float: left;
    width:100%;
    background:url(../images/logo.png) no-repeat bottom left;
}

#hdr img {
    /* Handles the logo */
    float: left;
}

#hdr-print {
    display: none;
}

#hdr-tools {
    width:100%;
    margin:0 0 50px 0;
    font-size:0.8em;
}

#user-info {
    float: right;
    margin: 3px 0 0 0;
    overflow: hidden;
    color: #444444;
}
#user-info span {
    float: left;
    margin: 4px 10px 0 0;
    padding: 2px 10px 0 2px;
    border-right: 1px solid gray;
}
#user-info span.noborder {
    border:none;
    margin-right:0;
}
#user-info form {
    overflow: hidden;
    float: left;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}
#user-info a {
    color:#FF561D;
}
#user-info a:hover{
    color:#FF8156;
}

#version {
    /* Version Number */
    float: left;
    color: #FF561D;
    margin:3px 0 0 149px;
}

/* Search Box */
/* the searchbox as applied in the header with the id="search" */
div#search {
    float: right;
    margin: 1px 30px 0 0;
}
/* defaults - may apply to searboxes anywhere NOT JUST THE HEADER */
/* see also: the code comments for a way to use a custom css_class */
form.searchbox {
    margin: 0;
}
form.searchbox fieldset {
    margin: 0;
}
form.searchbox fieldset label {
    margin: 0;
}
form.searchbox fieldset input[type=text] {
    margin: 0;
}

/*Language Selector*/
ul.lang_selector {
    overflow: hidden;
    padding: 0 4px;
    margin: 6px;
}
ul.lang_selector li {
    padding: 5px 0 5px 0;
    float: left;
}
ul.lang_selector li a {
    padding: 4px 4px 0 4px;
    font-size: 0.9em;
    border-left: 2px solid #DDDDDD;
    color: #DDDDDD;
}
ul.lang_selector li a:hover {
    color: #FF8156;
}


/* LPANEL */
#lpanel {
    margin: 0;
    padding: 0 0 30px 0;
    float: left;
    color: #444444;
    background-color: #FFFFFF;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#FFFFFF));
    background: -moz-linear-gradient(top,  #F7F7F7,  #FFFFFF);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#FFFFFF');
    border-left:1px solid #EEEEEE;
    border-top:1px solid #EEEEEE;
    border-bottom:1px solid #D3D3D3;
    width: 198px; /* attn ADMINS - this plus #main should equal the wrapper - dont forget the border*/
    min-height: 499px; /* this wont work for all browsers */
    position: relative; /* shouldn't break anything + needed for drawers */
}
#lpanel h1 {
    /* LPANEL AREA - Header level 1*/
    margin: 0;
    padding: 15px 15px 13px 15px;
    font-size: 1.0em;
    color: #FF561D;
}

#lpanel h4 {
    margin: 0;
    padding: 7px 15px 7px 15px;
    font-size: 1.0em;
    color: #FFFFFF;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}

#lpanel ul {
    /* LPANEL AREA - LISTS*/
    margin: 5px 5px 0 5px;
    padding: 0px;
}
#lpanel li {
    /* LPANEL AREA - LISTS*/
/*    border-bottom: 1px solid #909090;*/
    margin:2px 0;
    padding: 4px 0 4px 0;
    font-size: 0.9em;
    background:#F1F1F1;
}
#lpanel dl {
    /* LPANEL AREA - LISTS*/
    margin:0px;
    padding: 0px;
    list-style-type: none;
}
#lpanel input[type=text] {
    border: 1px solid #D3D3D3;
    width: 90px;
    margin: 0;
}
#lpanel input[type=password] {
    border: 1px solid #D3D3D3;
    width: 90px;
    margin: 0;
}
#lpanel label {
    /* labels in FORMS - ie USER INPUT */
    float: left;
    display: block;
    text-align: left;
    margin: 5px 10px 10px 10px;
    font-size: 0.9em;
}

/* ARK INDEX */
div#splash {
    background: none repeat scroll 0 0 white;
    border-bottom: 2px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color:#FF561D;
    margin:10px;
    padding:10px;
    float:left;
    width:759px;
    height:365px;
}
div#splash h4, div#splash p {
    width:240px;
    margin:0;
    padding:0;
    line-height:18px;
}

div#splash img {
    float:right;
    padding:0;
    margin:-129px 0 0 0;
    border:2px solid #EEEEEE;
}

/* USER HOME */
div.itemval_home {
    margin:5px 5px 5px 10px;
    padding:3px;
    overflow: hidden;
    background-color: white;
    border:1px solid #909090;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div.itemval_home label {
    padding: 0 0 0 5px;
    color: #FF561D;
}
/* DATA ENTRY */
/* MINIMISER */
#lpanel ul.sf_minimiser {
    float: left;
    background: #FFFFFF;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #D3D3D3;
    border-bottom:2px solid #D3D3D3;
    margin: 5px 5px 5px 25px;
    padding:6px 0 6px 0;
    width: 83%;
}
#lpanel ul.sf_minimiser li.min {
    background: #FFFFFF;
    margin: 3px;
    padding: 3px;
    width:90%;
    color: #444444;
    font-size: 0.8em;
    border-bottom: none;
}
#lpanel ul.sf_minimiser li.min a {
/*    border-left: 2px solid #737173;*/
    margin: 0;
    padding: 3px 0px 0px 7px;
    color: #444444;
    display: block;
}
#lpanel ul.sf_minimiser li.min a:hover {
    color: #FF8156;
}
#lpanel ul.sf_minimiser li.cur_max {
/*    border-left: 2px solid white;*/
    background: #FFFFFF;
    width:100%;
    margin:0;
    font-size: 0.8em;
    padding:0;
}
#lpanel ul.sf_minimiser li.cur_max a {
    margin: 3px;
    padding: 4px 0 4px 7px;
    display: block;
    border-left:3px solid #FF8156;
}

/*Modlists in LPANEL */
#lpanel ul.module_list {
    margin: 0px 5px 0 5px;
    padding: 0px;
    float: left;
    width: 96%;
}
#lpanel ul.module_list h4 {
    margin: 4px 2px 4px 2px;
    padding: 4px 0px 4px 0px;
    font-size: 0.9em;
}
#lpanel ul.module_list li {
    /* LPANEL AREA - LISTS*/
    font-size: 0.9em;
    overflow: hidden;
    width: 99%;
}
#lpanel ul.module_list img.med {
    margin: 4px 4px -3px 3px;
}

/* Map tool options in left panel */
div#lpanel label.map {
    margin: 7px 5px 5px 5px;
}
div#lpanel ul#map_options {
    margin: 4px 4px 16px 4px;
    padding: 4px;
    border: 1px solid gray;
    background: white;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div#lpanel ul#map_options li {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background: #909090;
    background: -moz-linear-gradient(center top , #ABABAB, #909090) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    border:none;
    float: left;
    margin: 4px;
    padding: 4px;
}
div#lpanel ul#map_options li.map {
    background:white;
    border: 1px solid gray;
}
div#lpanel ul#map_options li#save_map {
    background: #FFF;
    border-top: 1px dotted #909090;
    float: left;
    margin: 0 0 -10px -3px;
    padding: 5px 0 0 0;
}

div#lpanel ul#map_options img.map {
    background:white;
    width:20px;
    height:20px;
}

div#lpanel ul#map_options li a.clear_map {
    background: url("../images/results/bigminus.png") no-repeat scroll left center transparent;
    width:16px;
    display:block;
}
div#lpanel ul#map_options li a.clear_map:hover {
    background: url("../images/results/bigminus_over.png") no-repeat scroll left center transparent;
}
div#lpanel ul#map_options li a.refresh {
    background: url("../images/results/refresh.png") no-repeat scroll left center transparent;
    width:16px;
    display:block;
}
div#lpanel ul#map_options li a.refresh:hover {
    background: url("../images/results/refresh_over.png") no-repeat scroll left center transparent;
}
div#lpanel ul#map_options li a.save {
    background: url("../images/results/save.png") no-repeat scroll left center transparent;
    width:16px;
    display:block;
}
div#lpanel ul#map_options li a.save:hover {
    background: url("../images/results/save_over.png") no-repeat scroll left center transparent;
}

div#lpanel ul#map_options li a.download {
    background: url("../images/results/download.png") no-repeat scroll left center transparent;
    width:16px;
    display:block;
}
div#lpanel ul#map_options li a.download:hover {
    background: url("../images/results/download_over.png") no-repeat scroll left center transparent;
}

div#lpanel ul#map_options li a.map_small {
    background: url("../images/results/smallmap.png") no-repeat scroll left center transparent;
    width:16px;
    display:block;
}
div#lpanel ul#map_options li a.map_small:hover {
    background: url("../images/results/smallmap_over.png") no-repeat scroll left center transparent;
}

div#lpanel ul#map_options li a.map_med {
    background: url("../images/results/medmap.png") no-repeat scroll left center transparent;
    width:16px;
    display:block;
}
div#lpanel ul#map_options li a.map_med:hover {
    background: url("../images/results/medmap_over.png") no-repeat scroll left center transparent;
}

div#lpanel ul#map_options li a.map_large {
    background: url("../images/results/largemap.png") no-repeat scroll left center transparent;
    width:16px;
    display:block;
}
div#lpanel ul#map_options li a.map_large:hover {
    background: url("../images/results/largemap_over.png") no-repeat scroll left center transparent;
}

/*Gradient span to hold the links*/
span.gradient {
    display: block;
    margin: 5px 4px 4px 4px;
    padding: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}
#lpanel ul.module_list li a.regist {
    background: url(../images/recordnav/register.png) no-repeat left;
    display: block;
    }
#lpanel ul.module_list li a.regist:hover {
    background: url(../images/recordnav/register_over.png) no-repeat left;
    display: block;
}
#lpanel ul.module_list li a.detfrm {
    background: url(../images/recordnav/detailed.png) no-repeat left;
    display: block;
    }
#lpanel ul.module_list li a.detfrm:hover {
    background: url(../images/recordnav/detailed_over.png) no-repeat left;
    display: block;
}
#lpanel ul.module_list li a.materi {
    background: url(../images/recordnav/detailed.png) no-repeat left;
    display: block;
    }
#lpanel ul.module_list li a.materi:hover {
    background: url(../images/recordnav/detailed_over.png) no-repeat left;
    display: block;
}
.group {
    /* LPANEL AREA (Layer Group)*/
    font-size: 12px;
    background-color: rgb(237, 242, 242);
    border-top: 1px solid #f8b501;
    padding: 4px 0 0 6px;
    margin: 4px 0 0 0;
}
.layer {
    /* LPANEL AREA - (Layer)*/
    margin: 0;
    padding: 6px 10px 6px 12px;
    font-size: 10px;
    display: block;
    background-color: rgb(237, 242, 242);
    background-attachment: scroll;
    border-top: 1px solid rgb(255, 255, 255);
}
.class {
    /* LPANEL AREA - DEFINITION (Class)*/
    margin: 0;
    padding: 0 0 0 1px;
    font-size: 9px;
    color: #707376;
    display: block;
    text-decoration: none;
}
.def {
    /* LPANEL AREA - DEFINITION (Class)*/
    font-size: 9px;
    color: #707376;
    display: block;
    padding-left: 20px;
    text-decoration: none;
    margin: 0px;
}
#lpanel a {
    /* LPANEL AREA - LIST ITEM links (Layer Group)*/
/*    margin: 0;
    color: #707376;*/
}
.group li:hover {
    /* LPANEL AREA - Mouseover*/
    margin: 0;
    background-color: rgb(210, 220, 220);
    background-image: none;
}


/* FOOTER AREA - General Stuff */
#ark_footer {
    /* The named footer element */
    width:100%;
    margin:0 10px 10px 0;
    padding:7px 0 0 0;
    overflow: hidden;
    float: left;
    font-size: 0.8em;
    color:#444444;
    background:#FFFFFF;
    height:35px;
}
#ark_footer div.bt-nav {
    /* footer link elements */
    margin: 0;
    float:left;
    padding:5px;
}
#ark_footer div.credits {
    /* footer link elements */
    margin: 0;
    padding: 5px;
    float:right;
    font-style:italic;
}
#ark_footer span {
    float: left;
    margin: 4px 10px 0 0;
    padding: 2px 10px 0 2px;
    border-right: 1px solid gray;
}
#ark_footer span.noborder {
    float: left;
    margin: 4px 0 0 0;
    padding: 2px 10px 0 0;
    border:none;
}
#ark_footer form {
    overflow: hidden;
    float: left;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}
#ark_footer a {
    color:#FF561D;
}
#ark_footer a:hover {
    color:#FF8156;
}
#ark_footer p {
    float: left;
    margin: 4px 0 0 0;
    padding: 2px 5px 0 0;
}

/* MAIN PANEL */
#main {
    /* for the main panel */
    float: left;
    margin: 0;
    padding: 0 0 30px 0;
    border: 1px solid #D3D3D3;
    border-top: none;
    background-color:#EEEEEE;
    min-height: 500px; /* this wont work for all browsers  should match the left panel*/
}
.main_normal {
    width: 800px; /* attn ADMINS - this should be enough to accomodate any columns */
}
.main_mcrview {
    width: 800px;  /* attn ADMINS - add up your column widths */
}
.main_results {
    width: 800px;  /* attn ADMINS - add up your column widths */
}
#main p {
    /* paragraphs */
    font-size: 0.8em;
    padding: 5px;
}
#main h1 {
    /* Header level 1 */
    margin: 0;
    padding: 6px;
    font-size: 0.9em;
    height: 30px;
    border-bottom: 1px dotted #707376;
    background-color: lightgray;
}
#main h2 {
    /* Header level 2 */
    margin: 0;
    padding: 10px;
    font-size: 1em;
}
#main dt {
    /* Definition list - Term */
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 15px;
}
#main dd {
    /* Definition list - Definition */
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 12px;
    font-style: italic;
}
 /* USER ADMIN */

div#user_admin {
    float:left;
    width: 500px;
}

/* RIGHT PANEL AREA */

#rpanel {
    margin: 0;
    padding:10px;
}
#rpanel h1 {
    /* Header level 1 */
    margin: 0;
    color: #FFFFFF;
    font-size: 1em;
    padding: 15px 15px 13px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}
#rpanel h2 {
    /* Header level 2 */
    margin: 0;
    padding: 6px;
    font-size: 12px;
    font-style: italic;
    background-color: rgb(237, 242, 242);
}
#rpanel h5 {
    /* Header level 5 */
    font-size: 1em;
    padding: 4px;
}
#rpanel p {
    /* paragraphs of text */
    font-size: 0.8em;
    padding: 4px;
}
#rpanel ul {
    /* list */
    margin: 0;
    padding: 0 0 0 4px;
    list-style-type: none;
}
#rpanel li {
    /* list items*/
    padding: 2px;
    font-size: 0.8em;
}
#rpanel a {
    /* links*/
    margin: 0;
    color:#444444;
}
#rpanel a:hover {
    /* links*/
    color:#FF8156;
}
#rpanel a.delete {
    /* delete options in the right panel */
    color: black;
    background-color: red;
    padding: 2px;
    margin: 5px;
    border: none;
}
#rpanel a.delete:hover {
    border: 1px solid red;
}
#rpanel .value {
    padding: 4px 5px;
}


/*FORMS*/

/*LOGIN FORM*/
div.login_form {
    margin: 0;
    padding: 0;
    width: 100%; /*match the lpanel*/
    overflow: hidden;
}
form#login ul {
    margin: 0;
    padding: 0;
    width: 100%; /*match the lpanel*/
    overflow: hidden;
}
form#login ul li {
    margin: 4px 4px 4px 10px;
    padding: 0;
    overflow: hidden;
    background:none;
}
.row h5.login_label {
    margin: 0;
    float: left;
    width: 70px;
    text-align: left;
    padding-right: 5px;
    overflow: hidden;
    font-weight:normal;
}

/* GENERAL FORMS */
div.form_holder {
    margin: 20px;
    padding: 5px;
    width: 360px;
    background-color: #CDD2CD;
    border: 1px dotted #333;
}

/* DEFAULTS FOR FORMS */
/* Row elements can be <li> or <span> for example */
fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}
.row {
    padding: 5px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
    display: block;
    float:left;
}
.row ul {
    /* Lists */
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}
label.form_label {
    /* labels in FORMS - ie USER INPUT */
    float: left;
    display: block;
    text-align: left;
    margin: 0 5px 0 0;
    font-size: 0.8em;
    width: 28%;
    color:#666666;
    font-weight:bold;
}
/*in the thinner columns the labels need to be thinner in order to fit their contents*/
div.secondary_col label.form_label {
    width: 35%;
}
span.value {
    display:block;
    padding: 0 10px 0 0;
    overflow:hidden;
}
span.inp {
    /* Span used to wrap inputs */
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
span.inp label {
    font-size:0.8em;
}
span.inp_instr {
    /* Span used to wrap inputs (with instructions)*/
    margin: 0;
    padding: 0;
    width: 50%;
    display: block;
    overflow: hidden;
    float: left;
}
span.instr {
    /* Span used to wrap instructions on forms*/
    margin: 0;
    padding: 0;
    width: 25%;
    display: block;
    overflow: hidden;
    float: left;
}

button {
    /* GENERAL BUTTONS */
    /* KEEP SAME AS CLEAN_BUT */
    padding: 2px;
    margin: 1px;
    border: 1px solid #909090;
    font-weight: bold;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
button:hover {
    background:#ABABAB;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background:-moz-linear-gradient(center top , #909090, #ABABAB) repeat scroll 0 0 transparent;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
    cursor:pointer;
}
button:active {
    position:relative;
    top:1px;
}
button.bool {
    background: transparent;
    border: none;
    color:#909090;
    margin:0 0 0 0 !important;
}
button.bool img {
    margin: 0 4px 0 0;
}
.clean_but {
    /* OLD STYLE BUTTON (DEPRECATED) MUST APPLY A CSS CLASS */
    padding: 2px;
    margin: 2px;
    border: none;
    background-color: #707376;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.clean_but:hover {
    color: #FF8156;
}
input[type=text], input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 3px;
    border: 1px solid #DDDDDD;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px #FF8156;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 3px;
    border: 1px solid #FF8156;
}
textarea {
    /* defaults for text areas */
    border: 1px solid #DDDDDD;
}
input.number {
    width:50px;
}
input[type=text] {
    border: 1px solid #DDDDDD;
}
input[type=password] {
    border: 1px solid #DDDDDD;
}
input.yr {
    margin:0px;
    width: 35px;
    border: 1px solid #DDDDDD;
}
input.mm {
    margin:0px;
    width: 25px;
    border: 1px solid #DDDDDD;
}
input.dd {
    margin:0px;
    width: 25px;
    border: 1px solid #DDDDDD;
}
input.hr {
    margin:0px;
    width: 25px;
    border: 1px solid #DDDDDD;
}
input.mi {
    margin:0px;
    width: 25px;
    border: 1px solid #DDDDDD;
}
input.ss {
    margin:0px;
    width: 25px;
    border: 1px solid #DDDDDD;
}
.delete {
    border: 1px solid red;
    color: red;
    padding: 5px;
    margin: 5px;
    border: 1px solid #DDDDDD;
    display: block;
    text-align: center;
}
.delete:hover {
    color: black;
    background-color: red;
}

/* NAVIGATION */

/* The nav bar */
#navcontainer {
    width: 800px;
    float: left;
    margin: 0 0 -2px 199px;
    padding: 0;
    font-size: 0.75em;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}
#navcontainer ul {
    border: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#navcontainer ul li {
    margin: -8px 0 0 0;
    padding: 0;
    display: block;
    float: left;
    text-transform:uppercase;
}
#navcontainer ul li a {
    margin: 0;
    padding: 4px 10px 8px 10px;
    background: #EEEEEE;
    border: 1px solid #d3d3d3;
    color: #444444;
    display: block;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    box-shadow:inset 0 0 2px #D3D3D3;
    -moz-box-shadow:inset 0 0 2px #D3D3D3;
    -webkit-box-shadow:inset 0 0 2px #D3D3D3;
}
#navcontainer ul li a:hover {
    margin: 0;
    color: #FF8156;
    box-shadow:inset 0 0 10px #D3D3D3;
    -moz-box-shadow:inset 0 0 10px #D3D3D3;
    -webkit-box-shadow:inset 0 0 10px #D3D3D3;
}
#navcontainer ul li a:active {
    margin: 0;
    color: #909090;
    position:relative;
    top:1px;
}
#navcontainer li#active {
    border-bottom: 1px solid lightgray;
}
#navcontainer li#active a {
    margin: 0;
    color: #FF561D;
    background: #EEEEEE;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    font-weight: bold;
    box-shadow:-2px 2px 1px 0 #EEEEEE inset;
}

/* NavItem */
ul.navitem {
    margin: 0;
    padding: 0;
}
ul.navitem li {
    /* for the row */
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.navitem li label {
    font-size: 1.1em;
    float: left;
    padding: 4px;
}
ul.navitem li input {
    width: 75px;
    float: left;
}
ul.navitem li button {
    float: left;
    margin: 0 0 0 4px;
}


/* The embedded register nav bar */
#tabnav {
    width: 800px;
    float: left;
    margin: 10px 0 -6px 5px;
    padding: 0;
    font-size: 0.9em;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}
#tabnav ul {
    border: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#tabnav ul li {
    margin: -8px 0 0 0;
    padding: 0;
    display: block;
    float: left;
    text-align: center;
    border-bottom: 1px solid #909090;
}
#tabnav ul li a {
    margin: 0;
    padding: 7px 7px 5px 7px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    border: 1px solid #d3d3d3;
    color:#FFFFFF;
    display: block;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
#tabnav ul li a:hover {
    margin: 0;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background: -moz-linear-gradient(top,  #909090,  #ABABAB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
}
#tabnav ul li a:active {
    margin: 0;
    color: #909090;
    position:relative;
    top:1px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background: -moz-linear-gradient(top,  #909090,  #ABABAB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2DCDC', endColorstr='#EDEDED');
}
#tabnav li#active {
    border-bottom: 1px solid lightgray;
}
#tabnav li#active a {
    margin: 0;
    color: #444444;
    background: lightgray;
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-right: 1px solid #909090;
    font-weight: bold;
}

/* THE REGISTERS */

/* REGIST */
td textarea {
    width: 100px; /* if this is too wide, it may cause the register to overflow the #main div */
    height: 50px;
    margin: 0;
}
input.reg_itemval {
    width: 100px;
}

div.register_col {
    /* Styling for wide register columns */
    margin: 0 6px 0 6px;
    background: white;
    width: 98.5%;
    float:left;
}

div.register_tbl {
    background: white;
    margin: 0 6px 0 10px;
}
table.register_tbl {
    background: white;
    margin: 0 6px 0 6px;
    width: 98%; /*width of the main_results div minus the margins*/
    border-collapse: collapse;
}
table.register_tbl tr {
    height: 1.2em;
    border-bottom: 1px solid #EEEEEE;
}
table.register_tbl th {
    font-size: 0.9em;
    padding: 20px 0 6px 6px;
    border:none;
}
table.register_tbl td {
    padding: 6px;
    border:none;
}
table.register_tbl span.options {
    display: block;
    width: 100px;

}
table.register_tbl img.sort {
    margin: 0px 6px 15px 0;
    float: left;

}
table.register_tbl input {
    margin: 0 4px 0 10px;

}
div#width_toggle {
    overflow:hidden;
}
div#width_toggle a.expand {
    float:right;
    margin: 5px 6px -3px 6px;
    padding: 0 10px;
    color: #707376;
    font-size: 1.5em;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div#width_toggle a.expand:hover {
    color: #FF8156;
}

/* HORIZONTAL LISTS */
ul.hz_list {
    margin: 0;
    padding: 0 2px 2px 2px;
    list-style-type: none;
    overflow: hidden;
    float: left;
}
.hz_list li {
    padding: 2px 5px 2px 5px;
    float: left;
    background: #FFFFFF;
    color: #444444;
}


/* HEADING LEVELS */

/* H4 - HEADING OF SUBFORMS */
h4 {
    margin: 5px;
    font-size: 0.9em;
}
h4 a {
    margin: 5px;
    font-size: 0.9em;
    color: #444444;
}
h4 a:hover {
    margin: 5px;
    font-size: 0.9em;
    color: #FF8156;
}
h4 span.options {
    float: left;
}
/* H5 - Subheadings (NB use of this to label fields is deprecated - use <label>) */
h5 {
    font-size: 0.8em;
    padding: 5px 5px 5px 0;
    overflow: hidden;
}
/* VERY IMPORTANT - use labels to label DATA */
/* use label.form_label to style form labels */
/* use label.data_label to style data labels */

label {
    padding: 0;
}
label.data_label {
    /* labels in VIEWS - ie SYSTEM OUTPUT */
    /* THIS IS NOT A FORM LABEL */
    float: left;
    display: block;
    text-align: left;
    margin: 0 5px 0 0;
    font-weight: bold;
    font-size: 0.8em;
    width: 28%;
}

.value {
    /* Apply class to DATA */
    padding: 0;
    font-size: 0.8em;
}
.data {
    /* Apply class to DATA */
    padding: 0;
    display: block;
}


/* NAMED ELEMENTS OF PAGES */
#cxt_spatial_attributes {
    overflow: hidden;
    margin-bottom: 5px;
    margin-left: 5px;
}
#cxt_general_attributes {
    overflow: hidden;
    margin: 5px;
}
#cxt_findtypes {
    overflow: hidden;
    margin: 5px;
}
#cxt_meta_events {
    overflow: hidden;
    margin: 5px;
}
#detfrm_stratigraphy {
    margin: 0px;
    padding: 5px;
    overflow: hidden;
}
#same_as {
    display:block;
    float:left;
    margin: 0px;
    margin-left:5px;
    padding: 0px;
}

/*The actor list*/
ul.text_fields li ul.actor_list li {
    margin: 0;
    border: none;
    list-style-type: none;
    overflow: hidden;
}


/* THE MATRIX */

#matrix {
   /* Styling for matrix */;
   overflow:auto;
/*   margin: 5px 0 0 0;
*/}
ul.matrix_rows {
    /* NOTE THE PLURAL */
    margin: 5px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
ul.matrix_row {
    display: table;
    margin: 0 auto;
}
/* LIs IN ROWS */
/* GENERIC - Applies to ALL li's of a mtraix row */
ul.matrix_row li {
    display: table-cell;
    padding: 0px;
}
/* SELECTIVE BY CLASS */
ul.matrix_row li.lthn {
    background-image: url(../images/matrix/vline.png);
    background-repeat:  no-repeat;
    background-position: bottom center;
}
ul.matrix_row li.middle {
    padding: 10px;
    background-image: url(../images/matrix/vline.png);
    background-repeat: repeat-y;
    background-position: center;
}
ul.matrix_row li.ethn {
    background-image: url(../images/matrix/vline.png);
    background-repeat:  no-repeat;
    background-position: top center;
    vertical-align: bottom;
}
/* LINKs IN LIs */
ul.matrix_row li a {
    color: #444444;
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFFFFF;
    display:block;
    font-size: 0.8em;
}
ul.matrix_row li a:hover {
    color: #FF8156;
}
/* MATRIX LABELS ARE <P>s DEPRECATED */
ul.matrix_row li p {
    line-height: 0.5em;
    color: #444444;
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFFFFF;
}
/* Matrix FORMS */
ul.matrix_row li form {
    color: #444444;
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
/* SPANS */
ul.matrix_row li span {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    display:block;
}
/* SELECTIVE by class for As and Ps*/
ul.matrix_row li .erl {
    margin-top: 10px;
}
ul.matrix_row li .ltr {
    margin-bottom: 10px
}
.ltr {
    font-size:0.9em;
}

/* THE MICRO VIEW PAGE */
div#printbrk {
    margin:0;
    float: left;
    width:100%;
}
div.primary_col {
    /* Styling for the primary column */
    margin: 0;
    float: left;
    width: 530px;
    overflow: hidden;
}
div.secondary_col {
    /* Styling for the secondary column */
    margin: 0;
    float: left;
    width: 265px;
    overflow: hidden;
}
div.single_col {
    /* Styling for the single columns */
    margin: 0 5px 0 0;
    float:left;
    width: 99%;
}

/* CUSTOM DATA ENTRY */

/*full width column*/
div#column-main_column_full {
    width:800px;
}
div#column-main_column_full textarea {
    width:540px;
}

/* SUBFORMS */

/* Default - mc_subform (MiCro_view Subform) */
div.mc_subform {
    /* Styling for mc subforms */
    border: 1px solid #D3D3D3;
    background: white;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow:inset 0 0 3px #D3D3D3;
    -moz-box-shadow:inset 0 0 3px #D3D3D3;
    -webkit-box-shadow:inset 0 0 3px #D3D3D3;
}
div.mc_subform a.more {
   margin: 0 4px 0 0;
   font-size: 0.9em;
   color: #194059;
}
div.mc_subform textarea {
    width: 200px;
    height: 30px;
    text-align: left;
    margin: 0;
}
/* Specifically added for custom summary.php */
div.mc_subform textarea.long {
    width: 766px;
    height: 300px;
    padding:5px;
}
/* Paragraphs */
div.mc_subform p {
    font-size: 0.8em;
    padding: 5px;
}
/* Data span */
div.mc_subform span.data {
    display:block;
    padding: 0 10px 0 0;
    overflow:hidden;
    font-size: 0.8em;
    line-height:15px;
}

/* Buttons */
div.mc_subform button {
    margin:5px;
}

/* basic_subform (subform with no nav or options) */

div.basic_subform {
    background: #FFF;
    padding: 5px;
    margin: 0 5px 5px 5px;
    border: 1px solid #909090;
}

div.basic_subform input[type="text"] {
    width: 125px;
}

/* frm_subform (subforms within frames) */
div.frm_subform {
    border: none;
    background: #FFFFFF;
    margin: 0 2px 4px 2px;
    overflow:hidden;
}

/* SF_NAV - the navbar for subforms */
div.sf_nav {
    /* Styling for sfNav */
    border: none;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    margin: 0px;
    padding-left:4px;
    overflow:hidden;
    color: white;
}
a.minimiser_sf_nav {
    /* Styling for sfNav when in the minimiser */
    display: block;
    border: none;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    margin: 0px;
    padding-left: 4px;
    overflow:hidden;
    color: white;

}
a.minimiser_sf_nav:hover {
    /* Styling for sfNav when in the minimiser */
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D2DCDC), to(#EDEDED));
    background: -moz-linear-gradient(top,  #D2DCDC,  #EDEDED);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#D2DCDC');
    color: #444444;
}
/* h4 element in the sf_nav (sf_title) */
div.sf_nav h4 {
    /* NB generic h4 styles are above */
    border: none;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    margin: 0px;
    color: white;
    float:left;
    width: 60%; /* Have reinstated width of h4 particularly so that longer headings don't run over the nav buttons JO*/
    padding: 4px;
}
/* an hz list for nav elements - Styling for the nav list in sfnav */
ul.sf_nav {
    float: right;
    margin: 0;
    overflow:hidden;
}
li.sf_nav {
    float:left;
    padding:2px;
}
li.sf_nav a {
    margin: 0;
    color: #DDDDDD;
    font-size: 0.8em;
}
li.sf_nav a:hover {
    margin: 0px;
    color: #FF8156;
}
/* Mini Search */
div.src_wrp {
    margin: 4px;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
div.mini_src {
    margin: 0;
    float: left;
    height: 100%;
    width: 49%;
    background: gray;
    padding: 4px
}
div.secondary_col div.mini_src {
    /*make it wider if in the sec col*/
    width: 97%;
}
div.mini_src h5 {
    color: white;
    margin: 4px 0 0 0;
}
div.mini_card {
    margin: 4px 0 4px 4px;
    padding: 0;
    float: left;
    height: 100%;
    width: 48%;
    background: lightgray;
}
div.secondary_col div.mini_card {
    /*make it wider if in the sec col*/
    width: 97%;
}
div.mini_card ul.top {
    margin: 0;
    padding: 4px;
}
div.mini_card ul.top li {
}
div.mini_card ul.top li h5 {
    margin: 0;
    padding: 4px 0;
}
div.mini_card ul.top li h5 a {
    font-size: 1em;
    color: #DDDDDD;
}
div.mini_card ul.top li h5 a:hover {
    color: #FF8156;
}
div.mini_card ul.top li label {
}
/*For the results list - mini_res*/
ul.mini_res {

}
ul.mini_res li {
    margin: 2px 0;
    padding: 0 0 2px 0;
    background: lightgray;
}
ul.mini_res li h5 {
    margin: 0;
    padding: 4px;
}
ul.mini_res li h5 a {
    font-size: 1em;
    color: #DDDDDD;
}
ul.mini_res li h5 a:hover {
    color: #FF8156;
}
ul.mini_res li p.search_chat {
    margin: 0;
    padding: 0;
    color: #DDDDDD;
}


/* OTHER SUBFORMS */
div.subform {
    /* Styling for subforms */
    border: 1px solid #909090;
    background: white;
    margin: 0 0 5px 5px;
    overflow: hidden;
}
div.subform textarea {
    width: 380px;
    height: 30px;
    text-align: left;
    margin: 0;
}
div.ftr_subform {
    /* Styling for filter subforms */
    margin: 4px 4px 20px 4px;
    padding: 4px;
    border: 1px solid #D3D3D3;
    border-bottom:2px solid #D3D3D3;
    background:#EEEEEE;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#lpanel div.ftr_subform label {
    margin:0;
}

div.date_ranges li {
    padding: 0 10px 0 0;
}

div.itemval_jumper {
    margin: 4px;
}

div#sf_chronology ul#spans li.row ul.inp {
    font-size: 0.9em;
}

div#uh_jumper {
    margin:5px;
    border: 1px solid #D3D3D3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div.popup_reg {
    margin:5px;
    float:right;
}

/* Field Lists */
/* this is applied to long lists of fields */
ul.field_list {
    margin: 0;
    padding: 0;
}
ul.field_list li {
    margin: 0;
}
ul.checkboxes {
    padding: 0 0 0 10px;
}
ul.checkboxes li input[type=checkbox] {
    margin:5px;
}
ul.checkboxes li label {
    padding: 0 0 0 5px;
    font-size:0.8em;
    vertical-align:top;
}
ul.radiobuttons {
    padding: 0 0 0 10px;
}
ul.radiobuttons li {
}
ul.radiobuttons li label {
    padding: 0 0 0 5px;
    font-size:0.8em;
    vertical-align:top;
}
/* Attribute Subforms */
/* attr_list contains one li per attr (use a field list to loop over the fields/attrtypes)*/
ul.attr_list {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.attr_list li {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    float: left;
    border: none;
    border-right: 1px solid #FF8156;
}
form.attr_form {
    float: left;
}
label.attr_label {
    /* labels for attribute lists - suggest to make this like form_label */
    float: left;
    display: block;
    text-align: left;
    margin: 0px;
    margin-right: 5px;
    font-size: 0.8em;
}
label.radio_label {
    /* labels for radio attribute lists - suggest to make this like form_label */
    text-align: left;
    margin: 0 5px 0 5px;
    font-size: 0.8em;
}
/* Attr Control List Dialogue*/
div.ctrllst_dialogue {
    border: 1px solid pink;
    margin: 5px;
    padding: 5px;
}

/* Data Lists */
ul.data {
    margin: 2px 0;
    padding: 0;
}
.data li {
    margin: 0;
    padding: 2px 0;
    overflow: hidden;
}

/* File Subform */
div#add_files {
    margin:10px 0 0 0;
    border-top:1px solid #909090;
    overflow: scroll;
    height:250px;
}

div#add_files h5 {
    font-size:1.0em;
    margin:5px 0 0 0;
}

li.file_list {
   margin: 0;
   padding: 7px;
   overflow:hidden;
   font-size:0.8em;
}
li.file_list img {
	width: 50px;
    margin:0 0 0 8px;
    padding:0;
}

li.file_thumbs {
    float: left;
    padding: 5px;
    margin: 5px;
    height: 100%;
    width: 180px;
    background: #EDF2F2;
    border: 1px solid #909090;
}

li.file_thumbs img.med {
    float:right;
}

li.file_thumbs input[type=checkbox] {
    float:right;
}

/* XMI subform */
span.xmi_txt {
   color: #337373;
   font-size: 0.8em;
}
span.xmi_val {
   margin: 0 4px 0 0;
   color: #444444;
   font-size: 0.9em;
   font-weight: bold;
}
span.xmi_val a.more:hover {
   margin: 0 4px 0 0;
   color: #FF8156;
}
/* this is the parent list of XMIed items */
ul.xmi_list {
   margin: 0;
   padding: 0;
}
ul.xmi_list li {
   margin: 0;
   padding: 0 0 5px 5px;
   border-bottom: 1px solid #EEEEEE;
   overflow:hidden;
}
/* this is for the list of fields within each XMIed item */
ul.xmi_field {
   margin: 5px 0;
   padding: 0;
}
ul.xmi_field li {
   border: none;
   margin: 8px 0 0 0;
   padding: 0;
}
ul.xmi_field li label {
   margin: 0 4px 0 0;
   padding: 0;
   font-size: 0.8em;
   font-weight: bold;
}

/*this is for the add form*/
form.xmi_add fieldset {
    margin: 0;
    padding: 4px;
    background: gray;
}
form.xmi_add fieldset h5 {
    margin: 0 4px 0 0;
    padding: 0;
    font-weight: bold;
    color: white;
}
/* as of v1.1 the for.xmi_add styles are deprecated in favour of a div based display GH 12/3/12 */
.xmi_add {
    margin: 0;
    padding: 4px;
    background: gray;
}
.xmi_add span.inp {
    float: left;
}
.xmi_add span.inp input[type=text] {
    width: 100px;
}

div#mod_level {
    overflow: hidden;
}
/* when in a secondary column XMI display may need tweaks */
div.secondary_col ul.xmi_field li label.form_label {
    width: 40%;
}


/* CHRONOLOGY Subform - Timeline */
ul.tl_list {
    width:775px;
    float:left;
    margin:20px 5px 5px 5px;
    border:1px solid #909090;
}

li.tl_seg_occupied, li.tl_seg_notoccupied, li.tl_seg_present {
    float: left;
    margin: 0;
    padding: 0;
}

li.tl_seg_occupied {
    border-left: 2px solid #C9141B;
    border-right: 1px dotted #314462;
    background: white;
}

li.tl_seg_notoccupied {
    border: none;
    padding: 0px;
    background: #EDEDED;
}

li.tl_seg_present {
    padding: 0px;
    border-left: 1px solid #5A757B;
    background-color: #B6BDC7;
    z-index: -100;
}

/* Timeline Labels */
span.tl_lab_occupied {
    display: block;
    color: #C9141B;
    padding: 2px;
    margin-top: -30px;
}

span.tl_lab_notoccupied {
    display: block;
    color:#314462;
    padding: 2px;
}

span.tl_lab_present {
    display: block;
    color:#314462;
    padding: 2px;
}


/* TABLES */
table {
    /* table */
    border: none;
    margin: 0px;
}
tr {
    /* ROWS */

}
th {
    /* Table headers */
    font-style: bold;
    font-size: 0.8em;
    vertical-align: baseline;
}
td {
    /* Same as class .value - Apply to values of fields */
    padding: 0;
    font-size: 0.8em;
    text-align: top;
    vertical-align: top;
}
/* Assemblage tables*/
table.assemblage {
    margin:0 2px 10px 2px;
}
table.assemblage label.form_label {
    font-size:1em;
    margin: 8px 5px 0 0;
}

/* INTERPRETATIONS */
/* DEV NOTE: TIDY UP */

.recordarea {
    /* This is to group various bits of a record */
    /* In the sf_interp this was applied to the <li> */
    background: white;
    margin: 0 4px 4px 4px;
    padding: 0 0 4px 0;
    overflow: hidden;
    border-bottom: 2px solid #D3D3D3;
}
.textblock {
    /* This is for the main block of text */
    /* In sf_interp it was applied to a span */
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    display: block;
    overflow: hidden;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #FFB600;
}
ul.interp_by {
    /* the list in which people/dates are listed */
    padding: 4px;
    margin: 0px;
    margin-left: 4px;
    display: block;
    float: left;
    font-size: 0.7em;
}
ul.edit_options {
    /* This is an hz list for edit options */
    /* In sf_interp it was applied to a span */
    padding: 4px;
    margin: 0;
    display: block;
    float: right;
    list-style-type: none;
}
ul.edit_options li.edit_options a {
    /* This is a list for the edit options */
    /* In sf_interp it was applied to a span */
    padding: 0px;
    float: left;
    border-left: 1px dotted #FFB600;
    border-right: none;
    padding-right: 5px;
    padding-left: 5px;
    color: #DDDDDD;
    text-decoration: none;
    text-align: left;
    font-size: 0.7em;
}
.textinput {
    /* This is for the main block of text when its a form */
    /* In sf_interp it was applied to a span */
    margin-top: 4px;
    padding: 4px;
    width: 98%;
}

/* RECORD NAV - Styles for the record nav toolbar*/
/* The record nav toolbar area */
div#record_nav label {
    float:left;
    height: 24px;
    margin: 7px 5px 0 5px;
    padding: 0;
    color: #FF561D;
    background-color: white;
    -webkit-border-radius:none;
    -moz-border-radius: none;
    border-radius: none;
}
div#record_nav {
    margin: 5px;
    padding:3px;
    overflow: hidden;
    background-color: white;
    border:1px solid #D3D3D3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: white;
    box-shadow:inset 0 0 3px #EEEEEE;
    -moz-box-shadow:inset 0 0 3px #EEEEEE;
    -webkit-box-shadow:inset 0 0 3px #EEEEEE;
}
div#record_nav.printall {
    width:98%;
}
div#record_nav ul {
    float:left;
    overflow: hidden;
    margin: 0 30px 0 0;
}
div#record_nav ul li {
    float: left;
    margin: 4px;
    padding: 4px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
}
div#record_nav ul li:hover {
    background: #ABABAB;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background: -moz-linear-gradient(top,  #909090,  #ABABAB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}
div#record_nav li:active {
    position:relative;
    top:1px;
}
div#record_nav ul li a {
    color: white;
    font-size: 0.9em;
}
div#record_nav li.current {
    /* Styling for current record */
    color: #444444;
    font-weight: normal;
    background: #FFFFFF;
    border:1px solid #D3D3D3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
div#record_nav li.current:hover {
    background:#FFFFFF;
}
div#record_nav ul li a.delimg {
    background: url(../images/recordnav/delete.png) no-repeat left;
    width: 16px;
    height:16px;
    display: block;
}
div#record_nav ul li a.delimg:hover {
    background: url(../images/recordnav/delete_over.png) no-repeat left;
}
div#record_nav ul li a.refresh {
    background: url(../images/recordnav/refresh.png) no-repeat left;
    width: 16px;
    height:16px;
    display: block;
}
div#record_nav ul li a.recedit {
    background: url(../images/recordnav/edit.png) no-repeat left;
    height:16px;
    display: block;
    margin:0 2px 0 2px;
    padding:0 0 1px 25px;
    text-shadow:1px 1px #666666;
}
div#record_upper {
    width: 100%;
    float: left;
}
div#record_lower {
    padding: 3px 0 0 0;
    width: 100%;
    float: left;
    border-top: 1px solid #D3D3D3;
}
div#record_jumper {
    float:left;
    margin:3px 5px 2px 25px;
    padding:0;
}
div#record_jumper label {
    color:#444;
    margin:0;
    padding:2px 15px 2px 0;
    font-size:0.8em;
}
div#record_jumper ul li {
    margin: 0;
    padding: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #FFFFFF;
    float: none;
}
div#record_jumper ul li a {
    margin: 0;
    padding:4px;
    font-size: 0.9em;
    font-weight: normal;
    color: #444;
    background: white;
}
div#record_jumper ul li:hover {
    background-color: #EEEEEE;
    color: #FF8156;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
div#record_jumper ul li a:hover {
    background-color: #EEEEEE;
    color: #FF8156;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
div#stecd_jumper {
    float:left;
    margin:0px 5px -10px 25px;
    padding:0;
}
div#stecd_jumper label {
    color:#444;
    margin:0;
    padding:3px 10px 2px 0;
    font-size:0.8em;
}

/* IMAGE VIEWER */
ul.thumbnails img {
    /* Images in subforms */
    margin: 6px;
    border: 2px solid darkgray;
    width: 115px;
}
ul.thumbnails img:hover {
    border: 2px solid lightgray;
}
ul.thumbnails ul{
    display: inline;
}
ul.thumbnails li {
    padding: 5px 5px;
    list-style: none;
    display: inline;
}
ul.webthumbs img {
    /* Images in subforms */
    margin: 6px;
    border: 2px solid darkgray;
}
ul.webthumbs img:hover {
    border: 2px solid lightgray;
}


/* IMAGEFLOW */
#imageflow img {
    position:absolute;
    top:0px;
    border:none;
}
#imageflow h1 {
    text-align:center;
}
#imageflow a {
    color:#fff;
}
#imageflow .clear {
    clear:both;
}
#imageflow #images {
    width:475px;
    height:200px;
    visibility:hidden;
}
#imageflow #loading {
    margin-top:50px;
    text-align:center;
    width:100%;
}
#imageflow #loading img {
    margin-top:10px;
    position:relative;
}
#imageflow #captions {
    font-weight:bold;
    color:#FF561D;
    position:relative;
    text-align:center;
    z-index:10000;
}
#imageflow #scrollbar {
    visibility:hidden;
    position:relative;
    border-bottom:1px solid #b3b3b3;
    z-index:10001;
}
#imageflow #slider {
    position:absolute;
    margin-top:-7px;
    margin-left:-7px;
    z-index:10002;
    background-image:url(../../../js/imageflow/slider.png);
    background-repeat:no-repeat;
    width:14px;
    height:14px;
}
#imageflow {
    background-color:black;
    text-align:left;
    height:200px;
}
#download_file {
    padding: 5px;
}

object#flowobj img {
    position:absolute;
    top:0px;
    border:none;
}
object#flowobj h1 {
    text-align:center;
}
object#flowobj a {
    color:#fff;
}
object#flowobj .clear {
    clear:both;
}
object#flowobj #images {
    width:475px;
    height:200px;
    visibility:hidden;
}
object#flowobj #loading {
    margin-top:50px;
    text-align:center;
    width:100%;
}
object#flowobj #loading img {
    margin-top:10px;
    position:relative;
}
object#flowobj #captions {
    font-weight:bold;
    color:#FF561D;
    position:relative;
    text-align:center;
    z-index:10000;
}
object#flowobj #scrollbar {
    visibility:hidden;
    position:relative;
    border-bottom:1px solid #b3b3b3;
    z-index:10001;
}
object#flowobj #slider {
    position:absolute;
    margin-top:-7px;
    margin-left:-7px;
    z-index:10002;
    background-image:url(../../../js/imageflow/slider.png);
    background-repeat:no-repeat;
    width:14px;
    height:14px;
}
object#flowobj #imageflow {
    background-color:black;
    text-align:left;
    height:200px;
}


/* LIVESEARCH */
#hints {
    position: absolute;
    font-size: 0.9em;
}
#hints ul {
    margin: -4px 0 0 0;
    padding: 0;
    border: 1px solid #D3D3D3;
    background: #ffffff;
    color: #444444;
}
#hints ul li {
    margin: 0;
    padding: 0;
}
#hints a {
    margin: 0;
    padding: 4px;
    display: block;
    color: #444444;
}
#hints li:hover {
    background-color: #EDEDED;
    color: #FF8156;
}
#hints a:hover {
    color: #FF8156;
}
/*hintsType styles are used inthe mkSearchType function for XMIs*/
#hintsType ul {
    margin: -3px 3px 0;
    padding: 0;
    border: 1px solid #EEEEEE;
    background: #ffffff;
    color: #444444;
}
#hintsType ul li {
    margin: 0;
    padding: 0;
}
#hintsType a {
    margin: 0;
    padding: 4px;
    display: block;
    color: #444444;
}
#hintsType li:hover {
    background-color: #EEEEEE;
    color:#FF8156;
}
#hintsType a:hover {
    color:#FF8156;
}


/* MAPPING STYLES */
div.smallmap {
    background: transparent url(../images/lightbox/loading.gif) no-repeat scroll center;
    height: 200px;
    width: 100%;
	position: relative;
}
div.exifmap {
    background: transparent url(../images/lightbox/loading.gif) no-repeat scroll center;
    height: 200px;
    width: 300px;
	position: relative;
}
div.mapview {
    background: transparent url(../images/lightbox/loading.gif) no-repeat scroll center;
    height: 500px;
    width: 600px;
}
img.northarrow {
    width: 28px;
    margin: 4px;
    position: absolute;
    z-index:1001;
}
a.sf_spat_map {
    background: -webkit-gradient(linear, center top, left bottom, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(center top , #ABABAB, #909090) repeat scroll 0 0 transparent;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 4px;
    padding: 4px 4px 2px 4px;
    position: absolute;
    left: 220px;
    z-index:1002;
}

#maprpanel {
    /* General Stuff */
    position: absolute;
    top: 78px;
    left: 800px;
    color: #707376;
    text-align: left;
    margin-left: 1px;
    width: 190px;
    background-color: rgb(237, 242, 242);
    border-top: 1px dotted #FFB600;
    border-right: 1px dotted #707376;
    border-bottom: 1px dotted #707376;
}
#maprpanel h1 {
   /* Header level 1 */
   margin: 0;
   padding: 6px;
   font-size: 13px;
   height: 30px;
   border-bottom: 1px dotted #707376;
   background-color: rgb(210, 220, 220);
}
#maprpanel h2 {
   /* Header level 2 */
   margin: 0;
   padding: 6px;
   font-size: 12px;
   font-style: italic;
   background-color: rgb(237, 242, 242);
}
div.result_map {
    background: white;
    margin: 0 6px 0 10px;
    float: left;
}
div.result_map_no_spat {
    background: white;
    margin: 0 6px 0 10px;
    height: 42px;
    padding: 50px 0;
}
div.map_col {
    /* Styling for the map column in view results as map */
    margin: 0 6px 0 0;
    float: left;
    width: 468px;
    height: 400px;
    border: 1px solid #909090;
    overflow: hidden;
}
div.text_col {
    /* Styling for the text column in view results as map */
    margin: 0 4px 0 0;
    float: left;
    width: 300px;
    border-left: 2px solid #707376;
    border-right: 2px solid #707376;
    overflow: hidden;
}
input#upload_dir{
    max-width: 1200px;
}
/* Further MAP STUFF */
.qlist {
    margin: 20px;
}
.qlayer {
    /* (qLayer) */
    font-size: 12px;
    border-top: 1px solid #f8b501;
    padding: 4px 4px 4px 6px;
    margin: 4px 0 0 0;
}
.qfeature {
    /* (qfeature) */
    margin: 0;
    padding: 6px 10px 6px 12px;
    font-size: 10px;
    display: block;
    border-top: 1px solid rgb(255, 255, 255);
}
.qelement {
    /* (qelement) */
    margin: 0;
    padding: 0 0 0 1px;
    font-size: 9px;
    color: #707376;
    display: block;
    text-decoration: none;
}
.mapmeta {
    background-color: #000000;
    opacity: 0.6;
}
.map_admin_form {
    margin: 10px;
    padding: 0;
    background: white;
    overflow: hidden;
}

.mapping_col {
    margin: 0;
    padding: 10px 0 0 0;
}
/* WALK THROUGH FORMS */
ul.prog_bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
ul.prog_bar li {
    margin: 0;
    padding: 0;
    float: left;
}
ul.prog_bar li a {
    margin: 0;
    padding: 5px;
    display: block;
    background-color: #DDD;
    border-right: 1px dotted #707376;
}
ul.prog_bar li.current {

}
ul.prog_bar li.completed {

}
ul.prog_bar li.current a {
    background: url(../images/onoff/chk_on.png) no-repeat 90% 50%;
    background-color: #D2DCDC;
    color: white;
}
ul.prog_bar li.completed a {
    background: url(../images/onoff/chk_off.png) no-repeat 90% 50%;
    background-color: #EDF2F2;
}
ul.prog_bar li a:hover {
    background-color: #DDD;
    color: #FF8156;
}
#progress_bar_container {
    margin-bottom:5px;
}

/*OPENLAYERS CONTROLS*/
div.olMapViewport {
/*    margin: 20px 0 0 0;*/
    text-align: left;
}

.olControlPanel {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
}

#controlPanel {
    margin: 0;
    float: left;
    position: absolute;
/*    top: 98px; */
    padding: 5px 0;
/*    height: 30px;*/
    z-index: 10000;
    width: 600px;
    background-image: url(../images/openlayers_tools/trans.png);
    overflow: hidden;
}

#controlPanel.filtermap{
    margin: 0;
    float: left;
    position: absolute;
    top: 116px;
    padding: 5px 0;
    height: 30px;
    z-index: 10000;
    width: 468px;
    background-image: url(../images/openlayers_tools/trans.png);
    overflow: hidden;
}

#controlPanel div {
    width: 24px;
    margin: 2px;
    height: 24px;
    float: left; /* remove this if you want a vertical toolbar */
    opacity: 1.0;
    color: white;
}
#controlPanel .olControlPanMapItemActive {
    background-image: url(../images/openlayers_tools/pan-on.png);
}
#controlPanel .olControlPanMapItemInactive {
    background-image: url(../images/openlayers_tools/pan-off.png);
}
#controlPanel .olControlZoomBoxItemInactive {
    background-image: url(../images/openlayers_tools/drag-rectangle-off.png);
}
#controlPanel .olControlZoomBoxItemActive {
    background-image: url(../images/openlayers_tools/drag-rectangle-on.png);
}
#controlPanel .olControlZoomToMaxExtentItemInactive {
    background-image: url(../images/openlayers_tools/zoom-world-mini.png);
}
#controlPanel .olControlWMSGetFeatureInfoItemActive {
    background-image: url(../images/openlayers_tools/query_mode_on.png);
}
#controlPanel .olControlWMSGetFeatureInfoItemInactive {
    background-image: url(../images/openlayers_tools/query_mode_off.png);
}
#controlPanel .olControlZoomOutBoxItemActive {
    background-image: url(../images/openlayers_tools/zoom_out_on.png);
}
#controlPanel .olControlZoomOutBoxItemInactive {
    background-image: url(../images/openlayers_tools/zoom_out_off.png);
}
#controlPanel .olControlMeasureDistanceItemInactive {
    background-image: url(../images/openlayers_tools/distance_off.png);
}
#controlPanel.olControlMeasureDistanceItemActive {
    background-image: url(../images/openlayers_tools/distance_on.png);
}
#controlPanel .olControlMeasureAreaItemActive {
    background-image: url(../images/openlayers_tools/area_on.png);
}
#controlPanel .olControlMeasureAreaItemInactive {
    background-image: url(../images/openlayers_tools/area_off.png);
}
#controlOverlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 524px;
    background-image: url(../images/openlayers_tools/trans.png);
    height: 50px;
    z-index: 10000;
    width: 600px;
    overflow: hidden;
}
#controlOverlay.filtermap {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 468px;
    background-image: url(../images/openlayers_tools/trans.png);
    height: 50px;
    z-index: 10000;
    width: 468px;
    overflow: hidden;
}
#scaleLine div.olControlScaleLineTop {
    border-color: -moz-use-text-color white white;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    text-align: center;
    color: white;
}
#scaleLine div.olControlScaleLineBottom {
    border-color: white white -moz-use-text-color;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    margin-top: -2px;
    text-align: center;
    color: white;
}
#scaleText {
    color: white;
    font-size: 0.8em;
    margin: -23px 25px 0 465px
}
#scaleText.filtermap {
    color: white;
    font-size: 0.8em;
    margin: -23px 25px 0 350px
}
#mapOutput {
    font-size: 0.9em;
    font-weight: bold;
    color: #FF561D;
    margin: 15px 20px 0 200px;
}
#mapOutput.filtermap {
    font-size: 0.9em;
    font-weight: bold;
    color: #FF561D;
    margin: 15px 20px 0 150px
}
#mousePosition {
    color: white;
    font-size: 0.8em;
    margin: 5px 0 0 465px
}
#mousePosition.filtermap {
    color: white;
    font-size: 0.8em;
    margin: 0px 0 0 325px
}
.olQueryResult {
    background-image: url("../images/openlayers_tools/trans.png");
    color: white;
    padding: 5px;
}
.olQueryResultContent {

}

/* IMPORT pages */
/* SUBFORMS */
/* Default - mc_subform (MiCro_view Subform) */
div.import_field {
    /* Styling for import fields */
    border: 1px dotted #333;
    background: #AFD7FF;
    margin: 0 5px 5px 5px;
    overflow:hidden;
}
div.import_title {
    margin: 5px;
    padding:3px;
    overflow: hidden;
    background-color: white;
    border:1px solid #909090;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
}
div#main div.import_title h1 {
    float:left;
    height: 24px;
    margin: 7px 5px 0 5px;
    padding: 0;
    color: #FF561D;
    background: white;
    -webkit-border-radius:none;
    -moz-border-radius: none;
    border-radius: none;
    border:none;
}
div.addclass_home {
    margin:5px 5px 5px 5px;
    padding:3px;
    overflow: hidden;
    background-color: white;
    border:1px solid #909090;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div#extrtest_home {
    margin:5px 5px 5px 5px;
    padding:3px;
    overflow: hidden;
    background-color: white;
    border:1px solid #909090;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div#newcmap_home {
    margin:5px 5px 5px 5px;
    padding:3px;
    overflow: hidden;
    background-color: white;
    border:1px solid #909090;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div#editcmap_home {
    margin:5px 5px 5px 5px;
    padding:3px;
    overflow: hidden;
    background-color: white;
    border:1px solid #909090;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div#lpanel ul.importlpanel li {
}
div#lpanel ul.importlpanel li a {
    margin:5px 15px 10px 10px;
    font-size:0.9em;
}
div#lpanel ul.importlpanel li a:hover {
    color:#FF8156;
}
div#rpanel ul.importfields li {
    font-weight:bold;
}
table.importtest {
    background: white;
    margin: 0 6px 0 6px;
    width: 98%; /*width of the main_results div minus the margins*/
    border-collapse: collapse;
    border-top: 1px solid #909090;
}
table.importtest tr {
    height: 1.2em;
    border-bottom: 1px solid gray;
}
table.importtest th {
    font-size: 0.9em;
    padding: 20px 0 6px 6px;
    border:none;
}
table.importtest td {
    padding: 6px;
    border:none;
}
td.importtest_pos {
    color: green;
}
td.importtest_neg {
    color: red;
}
td.importtest_amber {
    color: #999900;
}

/* DATA VIEW - Styles for the data view results*/
/* The toolbar area */
div#results_nav {
    overflow: hidden;
    height: 42px;
    background-color: #EEEEEE;
}
div#results_nav label {
    float:left;
    width: 80px;
    height: 24px;
    margin: 10px 5px 0 10px;
    padding: 10px;
    color: #FF561D;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div#results_nav ul {
    float:left;
    overflow: hidden;
    margin: 8px 20px 0 2px;
}
div#results_nav ul li {
    float: left;
    margin: 4px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
}
div#results_nav ul li:hover {
    background: #ABABAB;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background: -moz-linear-gradient(top,  #909090,  #ABABAB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}
div#results_nav ul li:active {
    position:relative;
    top:1px;
}
div#results_nav ul li a {
    color: white;
    font-size: 0.9em;
    font-weight:bold;
    text-shadow:1px 1px #666666;
}
div#results_nav a.expand {
    float:right;
    margin: 12px 6px 0 0;
    padding: 0 10px;
    color: #707376;
    font-size: 1.5em;
    background-color: white;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
div#results_nav a.expand:hover {
    color: #FF8156;
}
ul#result_downloads li a {
    padding: 0 0 0 20px;
    background: url(../images/results/download.png) no-repeat left;
}
ul#result_feeds li a {
    padding: 0 0 0 20px;
    background: url(../images/results/feed.png) no-repeat left;
}
ul#result_views li a.text {
    background: url(../images/results/text.png) no-repeat left;
    width: 16px;
    display: block;
}
ul#result_views li a.thumb {
    background: url(../images/results/thumb.png) no-repeat left;
    width: 16px;
    display: block;
}
ul#result_views li a.table {
    background: url(../images/results/table.png) no-repeat left;
    width: 16px;
    display: block;
}
ul#result_views li a.map {
    background: url(../images/results/map.png) no-repeat left;
    width: 16px;
    display: block;
}
ul#result_views li a.printall {
    background: url(../images/results/printall.png) no-repeat left;
    width: 15px;
    display: block;
}
ul#tools li a.gears {
    background: url(../images/results/gears.png) no-repeat left;
    width: 15px;
    display: block;
}

/* The Multi select toolbar area */
div#multi_action_toolbar {
    overflow: hidden;
    height: 42px;
    margin: 0 6px 0 10px;
    padding: 0 0 4px 0;
    background: white;
}
div#multi_action_toolbar ul {
    float:right;
    overflow: hidden;
    margin: 8px 85px 0 2px; /*right pad +/-= width of the options row*/
    padding: 0 35px 0 0;
    background: white url(../images/results/multiarrow.png) no-repeat right;
}
div#multi_action_toolbar ul li {
    float: left;;
    margin: 4px;
    background-color: #707376;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div#multi_action_toolbar ul li a {
    color: white;
    font-size: 0.9em;
}
div#multi_action_toolbar ul li a:hover {
    color: #FF8156;
}

/* Feedback areas */
div.dv_feedback {
    overflow: hidden;
    height: 42px;
    margin: 0 6px 0 10px;
    padding: 50px 0 50px 0;
    background: white;
}

/* Results list - chat etc */
ul.result_ul {
    background: white;
    margin: 0 6px 0 10px;
    padding: 15px 5px;
}
ul.result_ul li.search_item {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #D3D3D3;
}
div#page_level ul.result_ul li.search_item p {
    margin: 0 0 0 20px;
    padding: 0 0 2px 0;
}

/* Results list- thumbs */
ul.result_thumb_ul {
    background: white;
    margin: 0 6px 0 10px;
    padding: 15px 5px;
    overflow: hidden;
}
ul.result_thumb_ul li.search_item {
    padding: 5px;
    margin: 5px;
    height: 125px;
    width: 135px;
    background: #EEEEEE;
    border: 1px solid #D3D3D3;
    border-bottom:2px solid #D3D3D3;
    float: left;
}
a.thumb_overlay {
/*    IMPORTANT! The width of this should be the ame as the thumb search item above!*/
    padding: 0;
    margin: -5px; /*negative margin to counteract the padding on the above*/
    height: 110px; /*match above plus margin to left and right eg 5 + 100 + 5 = 110*/
    width: 125px; /*match above plus margin to top and bottom eg 5 + 125 + 5 = 135*/
    display: block;
    position: absolute;
}

div#page_level ul.result_thumb_ul li.search_item p {
    margin: 0 0 0 20px;
    padding: 0 0 2px 0;
}

li.search_item span.options {
/*  the options to view edit etc*/
    margin: 10px;
    padding: 0;
}
li.search_item h5 {
/*  the header */
    margin: 5px 0 0 5px;
}
li.search_item p.search_chat {

}
li.search_item p.search_foot {
    font-style: italic;
    margin: 0 0 0 10px;
}
li.search_item span.search_nm {
    margin:0;
    padding: 0;
    padding-bottom: 2px;
    font-weight: bold;
}
ul.text_fields {
    font-size: 0.8em;
    margin: 0 0 0 10px;
    padding: 0;
}
ul.text_fields li {
    margin: 6px 0 0 0;
    padding: 0;
    overflow: hidden;
}
ul.text_fields li label {
    margin: 0 6px 0 0;
    padding: 0;
    font-weight: bold;
    float: left;
}
/* Results Table */
div.result_tbl {
    background: white;
    margin: 0 6px 0 10px;
}
table.result_tbl {
    background: white;
    margin: 0 6px 0 6px;
    width: 98%; /*width of the main_results div minus the margins*/
    border-collapse: collapse;
}
table.result_tbl tr {
    height: 1.2em;
    border-bottom: 1px solid #EEEEEE;
}
table.result_tbl th {
    font-size: 0.9em;
    padding: 20px 0 6px 6px;
    text-align: left;
}
table.result_tbl td {
    padding: 6px;
}
table.result_tbl span.options {
    display: block;
    width: 100px;
}
table.result_tbl img.sort {
    margin: 0px 6px 15px 0;
    float: left;
}
table.result_tbl input {
    margin: 0 4px 0 10px;
}

/* PAGING of results navigator  */
div#paging_nav {
    background: white;
    width: 97.5%; /*width of the main_results div minus the margins*/
    margin: 0 2px 0 10px;
    padding: 4px 0 4px 4px;
    overflow: hidden;
    font-size: 0.9em;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-radius-bottomright: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-radius-bottomleft: 6px;
    border-bottom:1px solid #D3D3D3;
    float:left;
}
div#paging_nav span.info {
    margin: 6px;
    padding: 0;
    display: block;
    float: left;
}
ul.pag_list {
    overflow: hidden;
    float: left;
}
li.pag_list {
    float:left;
    margin: 3px;
    border: 1px solid #909090;
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
li.pag_list:hover {
    background-color: #707376;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}
li.pag_list:active {
    position:relative;
    top:1px;
}
li.pag_list:hover a {
    color: #FF8156;
}
li.pag_list a {
    color: #707376;
}
li.cur_pag {
    float:left;
    margin: 3px;
    background-color: #707376;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #909090;
}
li.cur_pag:hover {
    background:#ABABAB;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background: -moz-linear-gradient(top,  #909090,  #ABABAB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    box-shadow:2px 2px 2px #CCCCCC;
}
li.cur_pag:active {
    position: relative;
    top: 1px;
}
li.cur_pag a {
    color: white;
}
form#perpage_selector {
    float: right;
    margin: 6px;
    padding: 0;
}
form#perpage_selector label {
    margin: 0 4px;
    padding: 0;
    float: left;
}
form#perpage_selector input.perpage {
    margin: 0;
    padding: 0;
    width: 25px;
}
form#perpage_inf {
    float: right;
    margin: 6px;
    padding: 0;
}


/* FILTERS! */
/* 1 - generic stuff */
/* 2 - toolbar */
/* 3 - active filters*/
/* 4 - the filter builder*/
/* 5 - linklists*/
/* see also the subform ftr_subform styles located in the SUBFORMS section of this sheet*/
/* see also the drawer styles .dr{}*/

/*Generic Stuff*/
div#filter_panel {
    margin: 0;
    padding: 0;
    position: absolute; /*needed for drawers*/
    z-index: 10;
    background-color: #FFFFFF;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#FFFFFF));
    background: -moz-linear-gradient(top,  #F7F7F7,  #FFFFFF);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#FFFFFF');
    width: 198px; /*same as the lpanel that contains it*/
}
div#filter_panel h4 {
    /* sub headings (also used by subforms embedded in this panel see below) */
    margin: 0;
    padding: 7px 15px 7px 15px;
    font-size: 0.9em;
    color: #FFFFFF;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}
/* SF_NAV within the filter panel - neutralize the margin settings */
div#filter_panel div.sf_nav {
    padding: 0;
    margin: 0;
}
/* H4's within an sf_nav within the filter panel*/
div#filter_panel div.sf_nav h4 {
    background: none;
    margin: 10px;
    padding: 0;
}
/* MESSAGE - style the message div when within the filter panel*/
div#filter_panel div#message {
    padding-bottom: 30px; /* inherit the other padding from the previous declaration */
    font-size: 0.8em;
}
div#filter_panel ul {

}
div#filter_panel ul li {

}

/* FILTER OPTIONS - the toolbar thing */
/*the bar*/
div#filter_panel ul#ftr_options {
    margin: 0;
    padding: 4px 0 20px 4px;
    background: #EEEEEE;
    overflow: hidden;
    border-top:1px solid #D3D3D3;
}
/*the buttons*/
div#filter_panel ul#ftr_options li {
    border-radius:4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    background: #909090;
    background: -moz-linear-gradient(center top , #ABABAB, #909090) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
    border:1px solid #909090;
    float: left;
    margin: 4px;
    padding: 4px;
}
div#filter_panel ul#ftr_options li:hover {
    background: #ABABAB;
    background: -moz-linear-gradient(center top , #909090, #ABABAB) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    box-shadow:2px 2px 2px #CCCCCC;
}
div#filter_panel ul#ftr_options li:active {
    position: relative;
    top: 1px;
}
div#filter_panel ul#ftr_options li a {
    width: 16px;
    display: block;
}
div#filter_panel ul#ftr_options li a.clear_ftr {
    background: url("../images/results/bigminus.png") no-repeat scroll left center transparent;
}
div#filter_panel ul#ftr_options li a.refresh {
    background: url("../images/results/refresh.png") no-repeat scroll left center transparent;
}
div#filter_panel ul#ftr_options li a.save {
    background: url("../images/results/save.png") no-repeat scroll left center transparent;
}


/* Active Filters */
div#filter_panel ul#active_filters {
    margin: 0;
    padding: 0 0 20px 0;
}
/*each active filter element*/
div#filter_panel ul li.active_filter {
    margin: 4px;
    padding: 4px;
    border: 1px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    background: white;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div#filter_panel ul li.active_filter label {
    margin: 2px 0 4px 2px;
    font-weight:bold;
}
/* set operators (also in this list)*/
div#filter_panel ul li.set_operator {
    padding: 0;
    margin: 0 auto;
    width: 100px;
}
div#filter_panel ul li span.filter_set_operator {
    display: block;
    overflow: hidden;
}
div#filter_panel ul li span.filter_set_operator a {
    margin: 0 4px;
    display: block;
    float: left;
}
/* the option to remove an active filter */
div#filter_panel span.del_op {
    float:right;
    font-weight: bold;
    margin:-2px 0 0 0;
}

/* styles for FORMS used by filter builder */
div#filter_panel button {
    margin: -2px 0 0 5px;
}
div#filter_panel select {
    width:60%;
}
div#filter_panel input[type="text"] {
    width:55%;
    margin: 5px 0 0 0;
}

/*for styling of the fauxdex results*/
div#filter_panel ul.attr_index {
    font-size: 0.9em;
    margin: 12px 0 0 0;

}
div#filter_panel ul.attr_index li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px dotted #909090;
    border-top:none;
    border-right:none;
    border-left:none;
}
div#filter_panel ul.attr_index li a:hover {
    color:#FF8156;
}

/* Filterlists in filterpanel */
/* this means link the list of new filters GH 24/11/11*/
/* the class ftr_list is passed as an optional css_class to the subforms
 (ie can be admin configged to another style) */
/* The UL */
#filter_panel ul.ftr_list {
    margin: 5px 0;
    padding: 0 0 20px 0;
    width: 198px; /*to match the lpanel*/
}
/* The LI of the UL */
#filter_panel ul.ftr_list li {
    margin: 2px 0;
    padding: 0;
    font-size: 0.9em;
    width: 198px; /*to match the lpanel*/
    overflow: hidden;
    background: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background:#F1F1F1;
}

/* LABELs within the UL */
#filter_panel ul.ftr_list label {
    font-size: 0.8em;
}
/* H4's are still used within lists in some places - DEV NOTE: change these H4s to 'label'? GH 27/11/11 */
#filter_panel ul.ftr_list h4 {
    background: none;
    margin: 5px 15px 10px 10px;
    padding: 0;
}
/* styling for lists (remember that some properties will be inherited from parent)*/
#filter_panel ul.ftr_list a {
    padding: 0;
    margin: 0;
    font-weight:normal;
}
#filter_panel ul.ftr_list a:hover {
    color: #FF8156;
}
#filter_panel .sf_nav h4 {
    width:90%;
}

/* SAVED FILTERS PANEL */
div#dvlp_saved_filters li, div#dvlp_saved_filters label, li#save_ftr label{
    font-size:1.0em;
}

/* FILTER MODE NAV */
div#ftr_mode_nav {
    margin: 0 17px;
    padding: 0;
}

div#ftr_mode_nav a {
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
    color:#FFFFFF;
    font-size:0.9em;
    font-weight:bold;
    text-shadow:1px 1px #666666;
}

div#ftr_mode_nav a:hover {
    background: #ABABAB;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background: -moz-linear-gradient(top,  #909090,  #ABABAB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
}

div#ftr_mode_nav a:active {
    position:relative;
    top:1px;
}

/* FILTER LISTS IN USER HOME */
ul.ftr_list {
    padding: 10px;
}





/* EXPORTDOWNLOAD OVERLAY */
form#export_download_overlay fieldset {
    float:left;
    width:100%;
}
div.waiting {
/*    a div to contain a waiting message for running processes*/
    margin: 5px 5px 10px 5px;
    padding: 10px 40px 10px 10px;
    color: #F8B501;
    border: 2px solid #F8B501;
    background: white url(../images/lightbox/loading.gif) no-repeat 95% 50%;

/*    background: transparent url(ark/skins/arkologik/images/loading.gif);*/
}
div.waiting {
/*    a div to contain a waiting message for running processes*/
    margin: 5px 5px 10px 5px;
    padding: 10px 40px 10px 10px;
    color: #F8B501;
    border: 2px solid #F8B501;
    background: white url(../images/lightbox/loading.gif) no-repeat 95% 50%;

/*    background: transparent url(ark/skins/arkologik/images/loading.gif);*/
}
p.downloadinfo {
    margin: 5px;
}
div.download {
/*    a div to contain a waiting message for running processes*/
    margin: 5px 5px 10px 5px;
    padding: 10px 75px 10px 10px;
    color: #F8B501;
    border: 2px solid green;
    background: white url(../images/results/download_large.png) no-repeat 95% 50%;
    overflow: hidden;
}
div.download ul li {
    float: left;
    margin: 4px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
}


/* Media Browser */
#mac_mediabrowser {
    margin:0;
    width:583px;
}
#mac_mediabrowser #navcontainer {
    margin:0;
    border-bottom:1px solid #DDDDDD;
    width:100%;
}
#mac_mediabrowser #navcontainer ul {
    margin:0 0 0 145px;
}
#mac_mediabrowser #navcontainer li#active {
    border-bottom:none;
}
#mac_mediabrowser #navcontainer li#active a {
    border-left:1px solid #D3D3D3;
    border-top:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    border-bottom:1px solid #FFFFFF;
    background:#FFFFFF;
    box-shadow:none;
    position:relative;
    top:1px;
}

.media_browser {
    width: 563px;
    background:#FFFFFF !important;
    border:none !important;
    margin:0 10px !important;
}
.media_browser p.message {
    position:absolute;
    left:163px;
    top:130px;
    width:250px;
    text-align:center;
}

img.linked_file {
    max-width: 50px;
    max-height: 50px;
    cursor:pointer;
}

img.hover_thumb {
    width: 100px;
    cursor:pointer;
}

img.hover_thumb_more {
    width: 40%;
}

.drop-zone {
    min-height: 70px;
    text-align:center;
    border: 4px dashed #DDDDDD;
    background:white;
    height: 200px;
    margin:15px;
}
.url_browser {
    min-height: 70px;
    text-align:center;
    background:white;
    height: 200px;
    border:-style: solid none solid;
    border-width:none;
}
.url_browser span.inp {
    float:left;
}
.ml_linkedfiles {
    min-height: 100px;
    text-align:center;
    overflow:auto;
    background-color: lightgray;
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#EDEDED));
    background: -moz-linear-gradient(top,  #D3D3D3,  #EDEDED);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3', endColorstr='#EDEDED');
}
.ml_linkedfiles ul.hz_list {
    width:100%;
}
.ml_linkedfiles li.hz_list {
    margin:5px;
    padding:5px;
}
button#ml_submit {
    float:right;
}
.ml_browser {
    margin:12px;
}
.ML_dropdowns {
    float:left;
    margin:15px 29px;
}

li.exif_row {
    padding: 2px;
    margin: 0px;
    overflow: hidden;
    display: block;
}

span.exif_data {
    display:block;
    padding: 0 4px 0 0;
    overflow:hidden;
    font-size: 0.7em;
}

div.exif_data {
    float:left;
    width:60%;
}

label.exif_label {
    display: block;
    text-align: left;
    margin: 0 2px 0 0;
    font-weight: bold;
    font-size: 0.8em;
    width: 15%;
}


div#videos iframe {
    margin:10px;
}


.qq-uploader {
    position:relative;
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px;
    text-align:center;
    margin: auto;
    top:100px;
    left:212px;
    padding: 2px;
    margin: 1px;
    border: 1px solid #909090;
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABABAB), to(#909090));
    background: -moz-linear-gradient(top,  #ABABAB,  #909090);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#909090');
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.qq-upload-button-hover {
    background: #909090;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909090), to(#ABABAB));
    background: -moz-linear-gradient(top,  #909090,  #ABABAB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#ABABAB');
}
.qq-upload-button-focus {
    outline:1px dotted black;
}
.qq-upload-drop-area {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-height:70px;
    z-index:2;
    background:#DDDDDD;
    text-align:center;
    height:200px;
}
.qq-upload-drop-area span {
    display:block;
    position:absolute;
    top: 50%;
    width:100%;
    margin-top:-8px;
    font-size:16px;
}
.qq-upload-drop-area-active {
    background:#DDDDDD;
}
.qq-upload-list {
    margin:15px 35px;
    padding:0;
    list-style:disc;
    position:absolute;
    top:205px;
}
.qq-upload-list li {
    margin:0;
    padding:0;
    line-height:15px;
    font-size:12px;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}
.qq-upload-file {
}
.qq-upload-spinner {
    display:inline-block;
    background: url(../images/lightbox/loading.gif);
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-size,.qq-upload-cancel {
    font-size:11px;
}
.qq-upload-failed-text {
    display:none;
}
.qq-upload-fail .qq-upload-failed-text {
    display:inline;
}

/* Batch File Upload */

div.fb_container {
    overflow:-moz-scrollbars-vertical!important;!overflow:hidden;
    height: 150px;
}

li.batch_hidden_row {
    padding: 5px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
    display: block;
    float:left;
}

div.batch_form_wrapper {
    border-top: 1px dotted gray;
    margin: 5px;
}

p.batch_form_message {
}


/* EXPERIMENTAL 27/11/11 DRAWER CODE */
.dr {
    position: absolute;
    z-index: 1;
    margin-left: 0px;
    top: 0px;
    left: 0px;
    width: 198px; /*width of the lpanel*/
    padding: 0;
/*    filter: alpha(opacity=85);*/
/*    opacity: .85;*/
    background: #EDF2F2;
    font-size: 0.8em;
}
.dr_shadows {
    -moz-box-shadow: 6px 0px 5px -6px #666666;
    -webkit-box-shadow: 6px 0px 5px -6px #666666;
    box-shadow: 6px 0px 5px -6px #666666;
}
div#lpanel div.dr h1 {
    font-size: 1.3em;
}
.dr_toggle {
    display: block;
    float: right;
}
.dr_toggle {
    color:#FFFFFF;
}
.dr_toggle:hover {
    color:#FF8156;
}
